//@import "/vendor/bootstrap/scss/mixins";


//**********************************************//

@mixin button-variant($color, $background, $border) {
    color: $color;
    border-color: $border;
    background-color: $indigo;
    &.focus,
    &:focus {
      color: $color;
      border-color: darken($border, 25%);
      background-color: darken($background, 10%);
    }
    &:hover {
      color: $color;
      border-color: darken($border, 12%);
      background-color: darken($background, 10%);
    }
    &.active,
    &:active,
    .open > &.dropdown-toggle {
      color: $color;
      border-color: darken($border, 12%);
      background-color: darken($background, 10%);
      &.focus,
      &:focus,
      &:hover {
        color: $color;
        border-color: darken($border, 25%);
        background-color: darken($background, 17%);
      }
    }
    &.active,
    &:active,
    .open > &.dropdown-toggle {
      background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &.focus,
      &:focus,
      &:hover {
        border-color: $border;
        background-color: $background;
      }
    }
    .badge {
      color: $background;
      background-color: $color;
    }
  }
  
  @mixin transition-all() {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  @mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @mixin serif-font() {
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  @mixin sans-serif-font() {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

body {
    font-size: 20px;
    @include serif-font;
    background-color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    @include sans-serif-font;
}

a {
    color: $gray-100;
    @include transition-all;
    &:focus,
    &:hover {
        color: $indigo;
    }
}

.btn, .btn-primary, .btn-primary.disabled, .btn-primary:disabled  {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  @include sans-serif-font;
  border-image-width: 0;
  background-color: $indigo;
  background-image: none;
  background:  $indigo;
}


.btn:hover {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  @include sans-serif-font;
  border-image-width: 0;
  background-color: $indigo-dark;
  background-image: none;
}
  
.fa-stack {
  color: $black;

}

.fa-stack:hover {
  color: $indigo;
}
// _navbar

#mainNav {
  position: absolute;
  border-bottom: 1px solid $gray-200;
  background-color: white;
  @include sans-serif-font;
.navbar-brand {
  font-weight: 800;
  color: $gray-800;
}
    .navbar-toggler {
      font-size: 12px;
      font-weight: 800;
      padding: 13px;
      text-transform: uppercase;
      color: $gray-800;
    }
    .navbar-nav {
      > li.nav-item {
        > a {
          font-size: 12px;
          font-weight: 800;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }
    @media only screen and (min-width: 992px) {
      border-bottom: 1px solid transparent;
      background: transparent;
      .navbar-brand {
        padding: 10px 20px;
        color: $black;
        &:focus,
        &:hover {
          color: fade-out($white, .3);
        }
      }
      .navbar-nav {
        > li.nav-item {
          > a {
            padding: 10px 20px;
            color: $black;
            &:focus,
            &:hover {
              color: fade-out($white, .2);
            }
          }
        }
      }
    }
    @media only screen and (min-width: 992px) {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      &.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -67px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid darken($white, .05);
        background-color: fade-out($white, .1);
        .navbar-brand {
          color: $gray-900;
          &:focus,
          &:hover {
            color: $indigo;
          }
        }
        .navbar-nav {
          > li.nav-item {
            > a {
              color: $gray-900;
              &:focus,
              &:hover {
                color: $indigo;
              }
            }
          }
        }
      }
      &.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    }
  }

  // _masthead
  .titleText {
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 0;
    text-align: center;
    }

// index
.index-masthead {
  position: relative;
  padding: 10rem 0 30rem 0;
  background-attachment: scroll;
  //position: relative;
  background: url('/img/1000.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.index-masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.3;
}
.hero-message {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  z-index: 2;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
.titleText {
    font-size: 80px;
  }
}

// about
.about-masthead {
  padding: 0 0 20rem 0;
  background-color: gray;
  background-attachment: scroll;
  position: relative;
  background: url('/img/1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.about-masthead .page-heading {
padding: 200px 0 150px;
color: white;
}
@media only screen and (min-width: 768px) {
.about-masthead .page-heading {
  padding: 200px 0;
}
}
.about-masthead .page-heading {
text-align: center;
}
.about-masthead .page-heading h1 {
font-size: 50px;
margin-top: 0;
}
.about-masthead .page-heading .subheading {
font-size: 24px;
font-weight: 300;
line-height: 1.1;
display: block;
margin: 10px 0 0;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
.about-masthead .page-heading h1 {
  font-size: 80px;
}
}

// post
.post-masthead {
  position: relative;
  padding: 10rem 0 30rem 0;
  background-attachment: scroll;
  position: relative;
  background: url('/img/stars.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.post-masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #b7dbff;
  opacity: 0.2;
}
.post-masthead .post-heading h1 {
  color: white;
  font-size: 35px;
}
.post-masthead .post-heading .meta,
.post-masthead .post-heading .subheading {
  color: rgba(255, 255, 255, 0.664);
  line-height: 1.1;
  display: block;
}
.post-masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", "Times New Roman", serif;
}
.post-masthead .post-heading .meta a {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .post-masthead .post-heading h1 {
    font-size: 55px;
  }
  .post-masthead .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview {
  > a {
    &:focus,
    &:hover {
      text-decoration: none;
      color: $indigo;
    }
    > .post-title {
      color: $gray-300;
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
      &:focus,
      &:hover {
        text-decoration: none;
        color: $indigo;
      }
    }
    > .post-subtitle {
      color: $gray-600;
      font-weight: 300;
      margin: 0 0 10px;
    }
  }
  > .post-meta {
    font-size: 18px;
    font-style: italic;
    font-family: 'Heebo';
    margin-top: 0;
    color: $gray-600;
    > a {
      text-decoration: none;
      color: $gray-700;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $indigo;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

// contact

.contact-masthead {
  padding: 0 0 20rem 0;
  background-color: gray;
  background-attachment: scroll;
  position: relative;
  background: url('/img/10001.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.contact-masthead .page-heading {
padding: 200px 0 150px;
color: white;
}
@media only screen and (min-width: 768px) {
.contact-masthead .page-heading {
  padding: 200px 0;
}
}
.contact-masthead .page-heading {
text-align: center;
}
.contact-masthead .page-heading h1 {
font-size: 50px;
margin-top: 0;
}
.contact-masthead .page-heading .subheading {
font-size: 24px;
font-weight: 300;
line-height: 1.1;
display: block;
margin: 10px 0 0;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
.contact-masthead .page-heading h1{
  font-size: 80px;
}
}
  // _contact.scss
.contact-container {
  margin: 35px 0 0;
}
.form-control:focus {
  color: white;
}
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $gray-300;
    input,
    textarea {
      color: white;
      font-size: 1.5em;
      position: relative;
      z-index: 1;
      padding: 0;
      resize: none;
      border: none;
      border-radius: 0;
      background: none;
      box-shadow: none !important;
      @include serif-font;
      &::-webkit-input-placeholder {
        color: $gray-600;
        //opacity: .75;
        @include serif-font;
      }
    }
    label {
      font-size: 0.85em;
      line-height: 1.764705882em;
      position: relative;
      z-index: 0;
      top: 2em;
      display: block;
      margin: 0;
      -webkit-transition: top 0.3s ease, opacity 0.3s ease;
      -moz-transition: top 0.3s ease, opacity 0.3s ease;
      -ms-transition: top 0.3s ease, opacity 0.3s ease;
      transition: top 0.3s ease, opacity 0.3s ease;
      vertical-align: middle;
      vertical-align: baseline;
      opacity: 0;
    }
    .help-block {
      margin: 15px 0;
    }
  }

  .floating-label-form-group-with-value {
    label {
      top: 0;
      opacity: .5;
    }
  }
  
  .floating-label-form-group-with-focus {
    label {
      color: $gray-300;
      opacity: .5;
    }
  }
  form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid $gray-300;
  }

  // social icons
  .copyright {
    font-size: 0.85em;
    text-align: center;
    margin: 0;
    padding: 0 0 20px 0;
  }
  .footer {
    background-color: #0e1a25;
  }
  .icons-group {
    padding: 0;
    margin: 0;
    list-style: none;
    //background-color: #0e1a25;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //align-items: right;
    height: 11vh;
  }
  
  .icon {
    width: 11vw;
    max-height: 11vh;
    flex-shrink: 1;
  }
  
  .behance {
    color: #d99126;
    fill: #d99126;
  }
  .behance:hover,
  .behance:active {
    background: #d99126;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .codepen {
    color: #d9b526;
    fill: #d9b526;
  }
  .codepen:hover,
  .codepen:active {
    background: #d9b526;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .email {
    color: #6ed926;
    fill: #6ed926;
  }
  .email:hover,
  .email:active {
    background: #6ed926;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .facebook {
    color: #26d926;
    fill: #26d926;
  }
  .facebook:hover,
  .facebook:active {
    background: #26d926;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .github {
    color: #2626d9;
    fill: #2626d9;
  }
  .github:hover,
  .github:active {
    background: #2626d9;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .instagram {
    color: #6e26d9;
    fill: #6e26d9;
  }
  .instagram:hover,
  .instagram:active {
    background: #6e26d9;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .twitter {
    color: #d926b5;
    fill: #d926b5;
  }
  .twitter:hover,
  .twitter:active {
    background: #d926b5;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .youtube {
    color: #d9266e;
    fill: #d9266e;
  }
  .youtube:hover,
  .youtube:active {
    background: #d9266e;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .yelp {
    color: #d9264a;
    fill: #d9264a;
  }
  .yelp:hover,
  .yelp:active {
    background: #d9264a;
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
